<% content_for :javascripts do %>
  <%= javascript_include_tag 'game' %>
<% end %>
<div id="game"
     data-user-token="<%= current_user.authentication_token %>"
     data-user-company-json="<%= render 'company.json.rabl' %>"
     data-user-company-programs-json="<%= render 'programs.json.rabl' %>"
     data-current-day="<%= ConfigVariables[:day] %>"
     data-current-time="<%= ConfigVariables[:time] %>"
     data-genres-by-time="<%= Audience::GENRES_BY_TIME.to_json %>">

  <h2>
    Starting game...
  </h2>

</div>
