<h3>My schedule</h3>
<div class="programs well">
  <h4>My programs</h4>
  <% for(i in programs){ %>
    <div draggable='true' data-program-id="<%= programs[i].get("id") %>">
      <span class="icon-move"></span>
      <%= JST["backbone/templates/stars"]({rating: programs[i].popularityPercent}) %>
      <%= programs[i].get("name") %>
    </div>
  <% } %>
</div>
<table class="table table-striped slots">
  <thead>
    <tr>
      <th>Time</th>
      <% for(day in days) { %>
        <th>Day <%= days[day] %></th>
      <% } %>
    </tr>
  </thead>

  <tbody>
    <% for(time in times) { %>
      <tr>
        <td><%= time %></td>
        <% for(day in days) { %>
          <td class="empty-slot slot slot-<%= days[day] %>-<%= times[time] %>" data-day="<%= days[day] %>" data-time="<%= times[time] %>">
            - Available -
          </td>
        <% } %>
      </tr>
    <% } %>
</div>
